* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* ---- HEADER ---- */


.promocion-container {
    background-color: black;
}

.promocion {
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-family: "regular";
    font-weight: 600;
    font-size: 13px;
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 100px;
}

.header__logo {
    width: 80px;
}


.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    width: 500px;
}

.header__link {
    text-decoration: none;
    color: black;
    font-family: "nike";
    padding: 5px 10px;
    border-radius: 5px;
}

.header__link:hover {
    background-color: black;
    color: white;
    transition: all .3s;
}

.header__search-cart-container {
    display: flex;
    align-items: center;
}

.header__input {

    border: 2px solid black;
    height: 25px;
    border-radius: 20px;
    font-family: "nike";
    width: 150px;
    text-align: center;
    font-size: 12px;
}

.icono-lupa {
    display: none;
}

.header__icon {
    width: 24px;
    margin-left: 10px;
}

.cart-link{
    display: flex;
    align-items: start;
    text-decoration: none;
    font-size: x-small;
    color: white;
}

.cart-link p{
    background-color: red;
    padding: 1px 3px;
    border-radius: 50px;

}

/* ---- INDEX ---- */



/* ---- BANNER ---- */

.banner-desktop {
    width: 100%;
}


.banner-mob {
    display: none;
}

/* CONTENEDOR SECTIONS */

.section-container {
    max-width: 1200px;
    margin: auto;
}

/* ---- SECTION CONJUNTO ---- */

.title {
    max-width: 1200px;
    margin: 40px auto;
    font-family: "just";
}

.section-arma-tu-conjunto {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-conjunto {
    display: flex;
    align-items: center;


}

.name-product {
    font-family: "regular";
    font-weight: 500;
}

.container-img-name {
    width: 40%;
    max-width: 250px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}


.thumbnail {
    width: 100%;

}

.container-img-name p {
    text-align: start;
    font-size: small;
    font-weight: 600;
    font-family: "regular";
    padding: 2px 0px;

}



.reverse {
    flex-direction: row-reverse;
    margin: 50px 0px;
}

.article-img {

    max-width: 550px;
}

.article-thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    cursor: pointer;
}

.end {
    justify-content: end;
}


.button-ver-mas {
    padding: 10px 20px;
    font-family: "just";
    background-color: black;
    color: white;
    border-radius: 20px;

}

.button-ver-mas:hover {
    background-color: white;
    border: solid 2px black;
    color: black;
    transition: all .5s;
    cursor: pointer;
}

/* ---- SECTION RUN ---- */

.section-run {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-run {
    width: 100%;
    margin-bottom: 50px;
}

.banner-run-mob {
    display: none;
}

/* ---- SECTION SHOES ---- */

.section-shoes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}


.article-shoes {
    width: 50%;
    margin-bottom: 50px;

}

.shoes-img {
    width: 100%;
    max-height: 700px;

}

.shoes-img:hover {
    opacity: 0.5;
    transition: all .5s;

}

.shoes-title {
    font-family: "nike";
    font-size: 20px;
}

.button {
    width: 100px;
    margin: auto;
}

/* ---- BOTON DE CONTACTO ---- */
.contact {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 20px 20px 0px;
    cursor: pointer;
}

.icon-contact {
    width: 50px;
    background-color: white;
    border-radius: 50px;
}

/* ---- KIDS ----- */

.container-banner {
    max-width: 1200px;
    margin: auto;

}

.banner {
    width: 100%;
}

.products-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    color: black;
    max-width: 400px;

}

.product-card {
    margin: 10px;
}

.card-img {
    width: 100%;
}

.product-name {
    font-family: "regular";
    font-weight: 600;
    margin: 10px 0px 20px 0px;
}

.product-short-description {
    font-family: "regular";
    color: gray;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
}

/*---- PRODUCT DETAIL ---- */
.go-back {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.go-back a {
    text-decoration: none;
    color: black;
    margin-right: 5px;
    font-family: "regular";
}

.go-back a:hover {
    color: gray;
    transition: all .3s;
}

.go-back p {
    font-family: "regular";
}

.product-detail-section {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    height: 70vh;

}

.product-detail-section-mob {
    display: none;
}

.thumbnails-detail-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.thumbnail-detail {
    width: 70px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.img-focus {
    width: 50%;
    min-width: 300px;
}

.img-product {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;

}

.description-container {
    width: 25%;
    padding-left: 20px;
    min-width: 250px;
}

.title-detail {
    font-family: "regular";
}

.detail-price {
    font-weight: bolder;
    font-family: "regular";
    font-size: 15px;
    padding: 5px 0px;
}

.detail-cuotas {
    font-family: "regular";
}

.sizes-section {
    margin: 20px 0px;
}

.size-text {
    font-family: "regular";
    font-size: small;
    font-weight: 600;
}

.sizes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

}

.size {
    width: 60px;
    border: solid 1px rgb(173, 173, 173);
    text-align: center;
    padding: 10px 0px;
    margin: 5px;
    font-family: "regular";
    cursor: pointer;
    border-radius: 2px;
}

.add-cart {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: solid 2px black;
    font-family: "regular";
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: black;
    cursor: pointer;

}

.add-cart:hover {
    background-color: white;
    color: black;
    transition: all .3s;
}



.product-container {
    display: flex;
    flex-wrap: wrap;
}


/* ---- CART ---- */

.section-container-cart {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.seccion-datos-personales {
    width: 50%;
    min-width: 400px;
}

.titulo-formulario {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.titulo-formulario p {
    padding: 5px 10px;
    border: solid 1px black;
    text-align: center;
    border-radius: 50px;
    font-size: small;
    font-family: bolder;
    font-family: "regular";
}

.titulo-formulario h2 {
    font-family: "regular";
    margin-left: 10px;
}

.contenedor-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.input-formulario {
    width: 44%;
    margin: 10px;
    height: 40px;
    padding-left: 10px;
    font-weight: bolder;
    border-radius: 5px;
    font-family: "regular";
    border: gray solid 1px;
}

.email {
    width: 100%;
}

.contenedor-boton {
    text-align: center;
}

.boton-formulario {
    width: 40%;
    min-width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: "Regular";
    font-size: 14px;
    margin: 20px 0px;
}

.boton-formulario:hover {
    background-color: white;
    color: black;
    transition: all .3s;
    cursor: pointer;
}

.seccion-resumen-compra {
    width: 45%;
    padding-left: 50px;
    min-width: 400px;
}

.title-resumen-compra {
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    border-bottom: 1px solid gray;
    font-family: "nike";
    padding-bottom: 10px;
}

.contenedor-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.product {
    display: flex;
    align-items: center;
}

.product p {
    font-family: "regular";
    font-size: small;
}

.resumen-price {
    font-family: "regular";
    font-weight: bold;
    font-size: small;
}


.img-resumen-product {
    width: 100px;
}

.contenedor-descuento {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid gray;
}

.icono-descuento {
    width: 50px;
    margin-right: 20px;
}

.contenedor-descuento p {
    font-size: small;
}

.contenedor-precios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.subtotal {
    font-family: "regular";
    color: gray;
}

.precio-subtotal {
    font-family: "regular";
    color: gray;
    font-size: small;
}

.total {
    font-family: "regular";
    font-weight: bold;
    font-size: large;

}


/* ---- FOOTER ---- */

.footer {
    margin-top: 80px;
    padding-top: 50px;
    background-color: black;
}

.help-media-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.links-article {
    text-align: center;
}

.subtitle-footer {
    font-family: "just";
    margin: 10px 0px;
    width: 200px;
    color: white;
}

.links-list {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: small;
}

.footer-link:hover {
    color: gray;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.copy-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-top: 1px solid gray;
    z-index: 0;
    margin-top: 50px;
    flex-wrap: wrap;
}

.location-article {
    display: flex;
    align-items: flex-end;
    font-size: small;
    cursor: pointer;
}

.location-container {
    display: flex;
    align-items: flex-end;
    color: white;
}

.icon-location {
    width: 15px;
}

.copy-text {
    margin-left: 10px;
    color: white;
}

.conditions-article {
    display: flex;
    align-items: center;

}

.conditions-article p {
    font-size: small;
    margin: 0px 5px;
    cursor: pointer;
    color: white;
}

/* ---- FUENTES ---- */

@font-face {
    font-family: "nike";
    src: url("../assets/fuentes/jane-roe.bold-italic.ttf");
}

@font-face {
    font-family: "just";
    src: url("../assets/fuentes/klein.condensed-trial-extrabold.ttf");
}

@font-face {
    font-family: "regular";
    src: url("../assets/fuentes/HelveticaNeueRoman.otf");
}

/*---- MEDIA QUERYS ----*/

@media (max-width:1070px) {
    .input-formulario {
        width: 100%;

    }

    .seccion-resumen-compra{
        padding: 0;
    }

}

@media (max-width:970px) {
    .header__input {
        display: none;
    }

    .icono-lupa {
        display: block;
        width: 24px;
    }
}

@media (max-width:900px) {
    .header__nav {
        padding: 10px
    }

    .article-thumbnails-container {
        display: none;
    }

    .img-container {
        width: 95%;
        margin: auto;

    }

    .article-img {
        width: 100%;
    }


}

@media (max-width:800px) {
    .card-link {
        margin: auto;
    }
}

@media (max-width:720px) {

    .go-back {
        padding-left: 20px;
    }

    .product-detail-section {
        display: none;
    }

    .product-detail-section-mob {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px;

    }

    .img-focus-mob {
        width: 95%;
    }

    .img-product-mob {
        width: 100%;
    }

    .thumbnails-detail-container-mob {
        text-align: center;
    }

    .thumbnail-detail-mob {
        width: 20%;

    }

    .sizes-section-mob {
        margin: 20px 0px;
    }

    .subtitle-detail {
        text-align: center;
    }

}



@media (max-width:700px) {
    .banner-desktop {
        display: none;
    }

    .banner {
        display: none;
    }

    .banner-mob {
        display: block;
        width: 100%;
    }

    .title {
        padding-left: 20px;
    }

    .banner-run {
        display: none;
    }

    .banner-run-mob {
        width: 95%;
        display: block;
        margin-bottom: 50px;
    }

    .header__logo {
        width: 50px;
    }

    .header__list {
        width: auto;
    }

    .copy-section p {
        font-size: 10px;
    }

}

@media (max-width:400px) {
    .help-media-section {
        justify-content: start;
    }

    .subtitle-footer {
        text-align: start;
        padding-left: 10px;
    }

    .links-list {
        display: none;
    }


}